body {
    background-color: rgb(177, 204, 81);
    font-family: monospace;
    }
    
    h1 {
    color: rgb(202, 14, 14);
    text-align: center;
    font-size: 40px;
    text-decoration: underline solid rgb(202, 14, 14);
    }

    h2 {
    color: blue;
    font-size: 30px;
    }
    
    p {
    font-size: 20px;
    }